@charset "utf-8";
#conteiner {
	height: auto;
	width: 100%;
	background-color: blue;
	margin-right: auto;
	margin-left: auto;
}


#header {
	background-color: #CF3;
	height: 10%;
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

#menu {
	height: 5%;
	width: 1300px;
	background-color: #FF9;
	margin-right: auto;
	margin-left: auto;
}
#content {
	background-color: #F63;
	height: 70%;
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}
#fooder {
	height: 50px;
	width: 1300px;
	background-color: #9F0;
	margin-right: auto;
	margin-left: auto;
}
